In [1]:
import numpy as np
import pandas as pd

### Air pollution data
https://powietrze.gios.gov.pl/pjp/archives
'Wyniki pomiarów z 2021 roku DANE WSTĘPNIE ZWERYFIKOWANE'

In [2]:
pollution = pd.read_csv("../data/raw/2021_DANE_1H.csv", delimiter=';', parse_dates=True)
pollution["date-time"] = pd.to_datetime(pollution["date-time"])

In [3]:
pollution

               date-time  MzWarAlNiepo-PM25-1g
0    2021-01-01 01:00:00                 26.68
1    2021-01-01 02:00:00                 35.09
2    2021-01-01 03:00:00                 43.55
3    2021-01-01 04:00:00                 46.44
4    2021-01-01 05:00:00                 41.24
...                  ...                   ...
8755 2021-12-31 20:00:00                  9.03
8756 2021-12-31 21:00:00                  8.88
8757 2021-12-31 22:00:00                  8.10
8758 2021-12-31 23:00:00                  8.65
8759 2022-01-01 00:00:00                 24.92

[8760 rows x 2 columns]

In [4]:
# Converting times from CET to GMT
pollution["date-time"] = pollution["date-time"] - pd.DateOffset(hours=1)
pollution

               date-time  MzWarAlNiepo-PM25-1g
0    2021-01-01 00:00:00                 26.68
1    2021-01-01 01:00:00                 35.09
2    2021-01-01 02:00:00                 43.55
3    2021-01-01 03:00:00                 46.44
4    2021-01-01 04:00:00                 41.24
...                  ...                   ...
8755 2021-12-31 19:00:00                  9.03
8756 2021-12-31 20:00:00                  8.88
8757 2021-12-31 21:00:00                  8.10
8758 2021-12-31 22:00:00                  8.65
8759 2021-12-31 23:00:00                 24.92

[8760 rows x 2 columns]

### Weather data
https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/terminowe/synop/2021/
File: 2021_375_s.zip	2022-01-28 09:15	360K

In [5]:
# Reading column names from additional file
names = []
with open("../data/raw/column_names.txt", encoding="utf8") as file:
    for line in file:
        names.append(line.rstrip())

In [6]:
weather_full = pd.read_csv("../data/raw/s_t_375_2021.csv", encoding="iso8859_2", header=None, names=names, parse_dates={'date-time':["Rok", "Miesiąc", "Dzień", "Godzina"]})

In [7]:
weather_full

,date-time,Kod stacji,Nazwa stacji,Wysokość podstawy chmur CL CM szyfrowana [kod],Status pomiaru HPOD,Wysokość podstawy niższej [m],Status pomiaru HPON,Wysokość podstawy wyższej [m],Status pomiaru HPOW,Wysokość podstawy tekstowy [opis],...,Wysokość świeżo spadłego śniegu [cm],Status pomiaru HSS,Wysokość śniegu na poletku [cm],Status pomiaru GRSN,Gatunek śniegu [kod],Ukształtowanie pokrywy [kod],Wysokość próbki [cm],Status pomiaru HPRO,Ciężar próbki [g],Status pomiaru CIPR
0,2021-01-01 00:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,300,NaN,0,8.0,300P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
1,2021-01-01 01:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,300,NaN,0,8.0,300P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
2,2021-01-01 02:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,330,NaN,0,8.0,330P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
3,2021-01-01 03:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,330,NaN,0,8.0,330P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
4,2021-01-01 04:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,300,NaN,0,8.0,300P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2021-12-31 19:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,570,NaN,0,8.0,570,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
8756,2021-12-31 20:00:00,352200375,WARSZAWA-OKĘCIE,4,NaN,450,NaN,0,8.0,450P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
8757,2021-12-31 21:00:00,352200375,WARSZAWA-OKĘCIE,3,NaN,270,NaN,450,NaN,270P/450P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
8758,2021-12-31 22:00:00,352200375,WARSZAWA-OKĘCIE,3,NaN,240,NaN,0,8.0,240P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0
8759,2021-12-31 23:00:00,352200375,WARSZAWA-OKĘCIE,3,NaN,240,NaN,0,8.0,240P,...,0,8.0,0,8.0,NaN,NaN,0,8.0,0,8.0

In [8]:
# Only interesting columns
weather = weather_full[["date-time", "Kierunek wiatru  [°]", "Prędkość wiatru  [m/s]", "Temperatura powietrza [°C]", "Ciśnienie na poziomie stacji [hPa]", "Wilgotność względna [%]"]]
weather

,date-time,Kierunek wiatru [°],Prędkość wiatru [m/s],Temperatura powietrza [°C],Ciśnienie na poziomie stacji [hPa],Wilgotność względna [%]
0,2021-01-01 00:00:00,260,1,0.9,996.4,94
1,2021-01-01 01:00:00,277,2,1.0,996.5,92
2,2021-01-01 02:00:00,92,1,1.0,996.6,88
3,2021-01-01 03:00:00,259,2,0.9,996.5,90
4,2021-01-01 04:00:00,270,2,0.8,996.6,90
...,...,...,...,...,...,...
8755,2021-12-31 19:00:00,259,6,11.2,996.6,85
8756,2021-12-31 20:00:00,259,7,10.6,996.6,90
8757,2021-12-31 21:00:00,257,6,10.5,996.7,94
8758,2021-12-31 22:00:00,260,6,10.4,996.9,94
8759,2021-12-31 23:00:00,258,6,10.2,997.2,94

In [9]:
# Processing wind and date
wind_north = np.round(weather["Prędkość wiatru  [m/s]"] * np.cos(np.radians(weather["Kierunek wiatru  [°]"])), decimals=6)
wind_east = np.round(weather["Prędkość wiatru  [m/s]"]* np.sin(np.radians(weather["Kierunek wiatru  [°]"])), decimals=6)
month = weather["date-time"].dt.month
weekday = weather["date-time"].dt.weekday
hour = weather["date-time"].dt.hour

In [10]:
# Adding processed wind and date columns
weather.insert(1, "wind-north", wind_north)
weather.insert(1, "wind-east", wind_east)
weather.insert(0, "hour", hour)
weather.insert(0, "weekday", weekday)
weather.insert(0, "month", month)
weather = weather.drop(columns=["Prędkość wiatru  [m/s]", "Kierunek wiatru  [°]"])
weather

,month,weekday,hour,date-time,wind-east,wind-north,Temperatura powietrza [°C],Ciśnienie na poziomie stacji [hPa],Wilgotność względna [%]
0,1,4,0,2021-01-01 00:00:00,-0.984808,-0.173648,0.9,996.4,94
1,1,4,1,2021-01-01 01:00:00,-1.985092,0.243739,1.0,996.5,92
2,1,4,2,2021-01-01 02:00:00,0.999391,-0.034899,1.0,996.6,88
3,1,4,3,2021-01-01 03:00:00,-1.963254,-0.381618,0.9,996.5,90
4,1,4,4,2021-01-01 04:00:00,-2.000000,-0.000000,0.8,996.6,90
...,...,...,...,...,...,...,...,...,...
8755,12,4,19,2021-12-31 19:00:00,-5.889763,-1.144854,11.2,996.6,85
8756,12,4,20,2021-12-31 20:00:00,-6.871390,-1.335663,10.6,996.6,90
8757,12,4,21,2021-12-31 21:00:00,-5.846220,-1.349706,10.5,996.7,94
8758,12,4,22,2021-12-31 22:00:00,-5.908847,-1.041889,10.4,996.9,94
8759,12,4,23,2021-12-31 23:00:00,-5.868886,-1.247470,10.2,997.2,94

In [11]:
# Pollution and weather join on date-time, changing long column names, sorting by date, saving processed data to CSV file
pollution\
    .merge(weather, how="inner", on="date-time")\
    .rename(columns={"MzWarAlNiepo-PM25-1g": "pm2_5", "Temperatura powietrza [°C]" : "temperature", "Ciśnienie na poziomie stacji [hPa]" : "pressure", "Wilgotność względna [%]" : "humidity"})\
    .sort_values('date-time').drop(columns=["date-time"])\
    .to_csv("../data/processed/pollution_weather.csv", index=False)

In [17]:
pollution\
    .merge(weather, how="inner", on="date-time")\
    .rename(columns={"MzWarAlNiepo-PM25-1g": "pm2_5", "Temperatura powietrza [°C]" : "temperature", "Ciśnienie na poziomie stacji [hPa]" : "pressure", "Wilgotność względna [%]" : "humidity"})\
    .sort_values('date-time').drop(columns=["hour"])\
    .groupby(pd.Grouper(key='date-time', axis=0, freq='D')).mean()\
    .to_csv("../data/processed/daily_pollution_weather.csv", index=False)

### Target preparation

In [12]:
data = pd.read_csv("../data/processed/pollution_weather.csv", delimiter=',')
data.insert(9, "target", data["pm2_5"])
# We need three independent copies of the dataset
target6 = data.copy()
target12 = data.copy()
target24 = data.copy()
data

,pm2_5,month,weekday,hour,wind-east,wind-north,temperature,pressure,humidity,target
0,26.68,1,4,0,-0.984808,-0.173648,0.9,996.4,94,26.68
1,35.09,1,4,1,-1.985092,0.243739,1.0,996.5,92,35.09
2,43.55,1,4,2,0.999391,-0.034899,1.0,996.6,88,43.55
3,46.44,1,4,3,-1.963254,-0.381618,0.9,996.5,90,46.44
4,41.24,1,4,4,-2.000000,-0.000000,0.8,996.6,90,41.24
...,...,...,...,...,...,...,...,...,...,...
8755,9.03,12,4,19,-5.889763,-1.144854,11.2,996.6,85,9.03
8756,8.88,12,4,20,-6.871390,-1.335663,10.6,996.6,90,8.88
8757,8.10,12,4,21,-5.846220,-1.349706,10.5,996.7,94,8.10
8758,8.65,12,4,22,-5.908847,-1.041889,10.4,996.9,94,8.65
8759,24.92,12,4,23,-5.868886,-1.247470,10.2,997.2,94,24.92

In [13]:
# Shifting target column by 6h, 12h, 24h
target6["target"] = target6["target"].shift(-6)
target12["target"] = target12["target"].shift(-12)
target24["target"] = target24["target"].shift(-24)

In [14]:
# Saving data with targets to CSV files, dropping entries with NULL
target6.dropna().to_csv("../data/processed/target06.csv", index=False)
target12.dropna().to_csv("../data/processed/target12.csv", index=False)
target24.dropna().to_csv("../data/processed/target24.csv", index=False)

In [19]:
daily = pd.read_csv("../data/processed/daily_pollution_weather.csv", delimiter=',')
daily.insert(8, "target", daily["pm2_5"])

In [20]:
daily["target"] = daily["target"].shift(-1)
daily

,pm2_5,month,weekday,wind-east,wind-north,temperature,pressure,humidity,target
0,32.488333,1.0,4.0,0.082155,-1.431997,-0.125000,997.966667,92.166667,52.236250
1,52.236250,1.0,5.0,1.364717,-0.704986,0.650000,1003.800000,94.791667,23.772083
2,23.772083,1.0,6.0,3.315934,1.621786,1.487500,1003.950000,95.833333,34.702500
3,34.702500,1.0,0.0,3.145808,1.146105,2.800000,1003.916667,95.958333,22.851667
4,22.851667,1.0,1.0,3.702931,2.338863,3.087500,998.779167,96.500000,17.306667
...,...,...,...,...,...,...,...,...,...
360,54.067500,12.0,0.0,3.680998,-0.518715,-9.870833,1004.283333,81.666667,28.182500
361,28.182500,12.0,1.0,5.743422,-2.431569,-5.545833,998.512500,81.416667,40.446667
362,40.446667,12.0,2.0,3.695867,-1.874503,-2.466667,995.537500,89.875000,42.038333
363,42.038333,12.0,3.0,-0.206690,-1.164237,2.837500,999.454167,97.958333,9.327917
364,9.327917,12.0,4.0,-5.165879,-1.288802,9.687500,998.045833,95.041667,NaN

In [21]:
daily.dropna().to_csv("../data/processed/target_daily.csv", index=False)